@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    border-bottom: #ff000c 3px solid;
    transform: scale(1.2);
}

.active:hover{
    transition: 2.9 ease-in-out;
}

body{
    background: var(--Background, #F8F8F8);
    font-family: 'Shippori Mincho B1', serif;
}